{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>Опитування</h2>

  {% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
      <a href="{% url 'voting:create_voting' %}" class="btn btn-success mb-3">➕ Створити опитування</a>
    {% endif %}
  {% else %}
    <div class="alert alert-warning mb-3">
    🔒 Вам варто <a href="{% url 'register:login' %}">увійти</a> або <a href="{% url 'register:register' %}">зареєструватися</a>, щоб проходити голосування.
    </div>
  {% endif %}

  <ul class="list-group">
    {% for poll in polls %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'voting:voting_detail' poll.id %}">{{ poll.question }}</a>
        <span class="badge bg-primary">{{ poll.choices.count }} варіантів</span>

        {% if request.user.is_authenticated and request.user.is_superuser %}
          <div class="btn-group">
            <a href="{% url 'voting:edit_voting' poll.id %}" class="btn btn-warning btn-sm">✏️ Редагувати</a>
            <a href="{% url 'voting:delete_voting' poll.id %}" class="btn btn-danger btn-sm">🗑️ Видалити</a>
          </div>
        {% endif %}
      </li>
    {% empty %}
      <li class="list-group-item">Наразі немає опитувань.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}